body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 20px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-size: 1.2em;
}

nav a:hover {
    text-decoration: underline;
}

main {
    flex: 1;
    padding: 20px;
}

.filter-controls {
    text-align: center;
    margin-bottom: 20px;
}

.filter-controls input {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1em;
    width: 50%;
}

.filter-controls button {
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1em;
    background-color: #3498db;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.filter-controls button:hover {
    background-color: #2980b9;
}

#releases-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.release-item {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 200px;
    margin: 10px;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.release-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.release-item img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
}

.release-item h3 {
    margin: 10px 0;
    font-size: 1.2em;
    color: #333;
}

.release-item p {
    font-size: 0.9em;
    color: #666;
}

/* Estilos para dispositivos móveis */
@media (max-width: 768px) {
    .release-item {
        width: 90%;
    }

    nav a {
        display: block;
        margin: 10px 0;
    }
}
