/* Estilos Globais */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Estilos para o Cabeçalho */
header {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 20px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

header a {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    margin: 10px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
    display: inline-block;
}

header a:hover {
    background-color: #2980b9;
    transform: translateY(-2px);
}

/* Estilos para o Conteúdo Principal */
main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

/* Estilos para a Lista de Desejos */
.wishlist-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.wishlist-item {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
    text-align: center;
    padding: 10px;
}

.wishlist-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.wishlist-item img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
    border-radius: 10px 10px 0 0;
}

.wishlist-item h3 {
    margin: 15px 10px;
    font-size: 1.5em;
    color: #333;
}

.wishlist-item p {
    margin: 10px;
    font-size: 0.9em;
    color: #666;
}

/* Estilos para o Rodapé */
footer {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 20px 0;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
    margin-top: auto;
}

/* Estilos para dispositivos móveis */
@media (max-width: 768px) {
    .wishlist-container {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }

    header h1 {
        font-size: 2em;
    }

    .wishlist-item h3 {
        font-size: 1.2em;
    }

    .wishlist-item p {
        font-size: 0.8em;
    }
}
