body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 20px 0;
}

h1 {
    margin: 0;
}

nav {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

nav a {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    margin: 0 5px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #2980b9;
}

main {
    padding: 20px;
    text-align: center;
}

.recommendation-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.recommendation-item {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    width: 150px;
    transition: transform 0.3s;
}

.recommendation-item:hover {
    transform: scale(1.05);
}

.recommendation-item img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.recommendation-item a {
    display: block;
    margin-top: 10px;
    color: #3498db;
    text-decoration: none;
    font-weight: bold;
}

.recommendation-item a:hover {
    text-decoration: underline;
}
